body {background-color: rgb(192, 220, 231);}
h1 {color: rgba(91, 145, 136, 0.459);
    font-family: Brush Script MT;text-align: center;
    font-size: 60px;
    }
ul {
    text-align: center;
    font-family: Brush Script MT;text-align: center;
    font-size: 100px;
}
a {
    text-align: center;
    font-family: Brush Script MT;text-align: center;
    font-size: 100px;
}
